.promoVideo {
	width: 19%;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 40px;
}

@media screen and (min-width: 1060px) {
	.promoVideo {
		margin: inherit;
	}
}



.promoVideo a {
	text-decoration: none;
	color: #535353;
	text-align: center;
}

.promoVideo .sectionTitle {
	font-weight: 600;
    margin: 0;
	margin-bottom: 10px;
	font-size: 18px;
}

.promoVideo .imageContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.promoVideo .imageContainer button {
    width: 200px;
    height: 200px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
}

.promoVideo .imageContainer .image {
	height: 105%;
	position: absolute;
	top: 0;
	left: 0;
}

.promoVideo .imageContainer p.title {
	position: absolute;
	font-family: 'tagliner';
	font-size: 20px;
	color: #ffeb00;
	z-index: 1;
	background: #1500006e;
	padding: 5px;
	border-radius: 10px;
	top: 170px;
}

.promoVideo p.description {
	width: 90%;
	font-weight: 600;
	font-size: 16px;
	text-align: justify;
	padding: 5px;
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
	min-height: 100px;
	margin: 15px auto;
}