.promoVideo {
	width: 19%;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 40px;
	display: none;
}

.promoVideo a {
	text-align: center;
}

.promoVideo .sectionTitle {
	font-weight: 600;
	margin: 0 0 5px;
	font-size: 18px;
}

.promoVideo .imageContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 215px;
}

.promoVideo .imageContainer button {
	width: 200px;
	height: 200px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.promoVideo .imageContainer img {
	height: 111%;
	position: absolute;
}

.promoVideo p.description {
	font-weight: 600;
	font-size: 16px;
	text-align: justify;
	padding: 5px;
	min-height: 100px;
	margin: -3px auto;
}

.promoVideo p.watchYoutube {
	background: #00000099;
	color: white;
	padding: 10px 0;
	border-radius: 10px;
	width: 190px;
	margin: 10px auto;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: bold;
}

.promoVideoMobile {
	display: flex;
	height: 160px;
	width: 100vw;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin-top: 20px;
}

.promoVideoMobile img {
	height: 100%;
	border-radius: 5px;
}

@media screen and (min-width: 970px) {
	.promoVideoMobile {
		display: none;
	}
}

@media screen and (min-width: 1060px) {
	.promoVideo {
		margin: inherit;
	}
}

@media screen and (min-width: 970px) {
	.promoVideo {
		display: inherit;
	}
}