.promoVideo {
	width: 19%;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 40px;
	display: none;
}

.promoVideo a {
	text-decoration: none;
	color: #535353;
	text-align: center;
}

.promoVideo .sectionTitle {
	font-weight: 600;
  margin: 0;
	margin-bottom: 10px;
	font-size: 18px;
}

.promoVideo .imageContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.promoVideo .imageContainer button {
	width: 200px;
	height: 200px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.promoVideo .imageContainer .image {
	height: 105%;
	position: absolute;
}

.promoVideo .imageContainer p.title {
	position: absolute;
	font-family: 'tagliner';
	font-size: 20px;
	color: #ffeb00;
	z-index: 1;
	background: #1500006e;
	padding: 5px;
	border-radius: 10px;
	top: 170px;
}

.promoVideo p.description {
	width: 90%;
	font-weight: 600;
	font-size: 16px;
	text-align: justify;
	padding: 5px;
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
	min-height: 100px;
	margin: 15px auto;
}

.promoVideoMobile {
	height: 90px;
	width: 100vw;
	text-decoration: none;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover !important;
	background-position: center !important; 
	cursor: pointer;
	margin-top: 20px;
}

.promoVideoMobile a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	color: white;
	text-decoration: none;
	padding: 0 3%;	
}

.promoVideoMobile a .title {
	font-size: 2.5vw;
	font-family: 'tagliner';
}

.promoVideoMobile a .description {
	text-align: center;
	font-weight: bold;
	font-size: 2.5vw;
}

.descriptionMobile {
	width: 280px;
}

@media screen and (min-width: 1060px) {
	.promoVideo {
		margin: inherit;
	}
}

@media screen and (min-width: 970px) {
	.promoVideo {
		display: inherit;
	}
}