.promoVideo {
	width: 19%;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 40px;
	display: none;
}

.promoVideo a {
	text-align: center;
}

.promoVideo .imageContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 215px;
}

.promoVideo .imageContainer button {
	width: 200px;
	height: 200px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.promoVideo .imageContainer img {
	height: 111%;
	position: absolute;
}

.promoVideo p.description {
	font-weight: 100;
	font-size: 16px;
	text-align: justify;
	padding: 5px;
	min-height: 100px;
	margin: -3px auto;
	color: #5f5f5f;
	line-height: 20px;
	width: 200px;
}

.promoVideo button.watchYoutube {
	background: #00000099;
	color: white;
	padding: 10px 0;
	border-radius: 50px;
	height: 38px;
	width: 140px;
	font-size: 13px;
	font-weight: bold;
	margin: 10px auto;
	letter-spacing: 0.3px;
	background: #34ff86;
	background: linear-gradient(45deg, #34ff86 0%, #4EE5E5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$green', endColorstr='$light-blue', GradientType=1);
}

.promoVideoMobile {
	display: flex;
	height: 160px;
	width: 100vw;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin-top: 20px;
}

.promoVideoMobile img {
	height: 100%;
	border-radius: 5px;
}

@media screen and (min-width: 970px) {
	.promoVideoMobile {
		display: none;
	}
}

@media screen and (min-width: 1060px) {
	.promoVideo {
		margin: inherit;
	}
}

@media screen and (min-width: 970px) {
	.promoVideo {
		display: inherit;
	}
}