.siteLoaderContainer.dropdownXlLoader > img {
  width: 50px;
}

.dropdownXlContainer {
  min-height: 50vh;
  max-width: 710px;
  padding: 25px 0 0;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.dropdownXlContainer .item {
  height: 85px;
}

.dropdownXlContainer .itemContainer img {
  width: 150px;
  border-radius: 10px;
  opacity: .9;
  filter: grayscale(25%);
}

.dropdownXlContainer .itemContainer img:hover {
  opacity: 1;
  filter: grayscale(0);
}

.dropdownXlContainer .empty {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.dropdownXlContainer .empty {
  text-align: center;
}

@media screen and (min-width: 500px) {
  .dropdownXlContainer {
    min-height: 470px;
    padding: 40px 0 0;
  }
  
  .dropdownXlContainer .itemContainer img {
    width: 200px;
  }

  .dropdownXlContainer .item {
    height: 115px;
  }
}
