.siteLoaderContainer.dropdownXlLoader > img {
  width: 50px;
}

.dropdownXlContainer {
  min-height: 470px;
}

.dropdownXlContainer .dropdownXl {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  max-width: 710px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.dropdownXlContainer .dropdownXl .itemContainer img {
  width: 200px;
  border-radius: 10px;
  opacity: .9;
  margin: 15px;
  filter: grayscale(25%);
}

.dropdownXlContainer .dropdownXl .itemContainer img:hover {
  opacity: 1;
  filter: grayscale(0);
}

.dropdownXlContainer .dropdownXl .empty {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.dropdownXlContainer .empty {
  text-align: center;
}

@media screen and (max-width: 740px) {
  .dropdownXlContainer .dropdownXl .itemContainer img {
    width: 27vw;
    margin: 10px;
  }
}

@media screen and (max-width: 580px) {
  .dropdownXlContainer .dropdownXl .itemContainer img {
    width: 43vw;
    margin: 5px;
  }
}

@media screen and (min-width: 740px) {
  .dropdownXlContainer .dropdownXl {
    justify-content: flex-start;
  }
}