.dropdownComponent .dropdownContainer {
	width: 500vw;
	height: 500vh;
	position: absolute;
	top: 0;
	left: -300px;
}

.dropdownComponent .dropdown {
	position: absolute;
	width: 100%;
	max-height: 300px;
	min-width: 320px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 0.9px solid #eceff0;
	background-color: #fff;
	border-radius: 0 0 6px 6px;
	box-shadow: 0 2px 5px rgba(120, 138, 145, .62);
	top: 45px;
	left: -10px;
	-webkit-overflow-scrolling: touch;
	z-index: 999;
}

.dropdownComponent .dropdown .item {
	background: white;
	height: 85px;	
	border-bottom: 1px solid lightgray;
	color: gray;
}

.dropdownComponent .dropdown .item:hover {
	background: #f5f5f5;
}

.dropdownComponent .dropdown .item a {
	display: flex;
	align-items: center;
	height: 100%;
}

.dropdownComponent .dropdown .item .itemContainer { 
	border-radius: 7px;
	margin: 0 11px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dropdownComponent .dropdown .item .itemContainer img { 
	width: 125px;
}

.dropdownComponent .dropdown .item a p {
	font-size: 12px;
}


@media screen and (min-width: 370px) {
	.dropdownComponent .dropdown {
		left: 5%;
	}
}

@media screen and (min-width: 550px) {
	.dropdownComponent .dropdown {
		top: 50px;
		left: 120px;
		width: 370px;
	}
}