.noUserFound {
	text-align: center;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.userSearch {
	text-align: center;
	margin: 30px auto;
	position: relative;
  max-width: 450px;
}

.userSearch input {
	width: 100%;
	height: 45px;
	border-radius: 30px;
	border: 2px solid #39e4b9;
	box-shadow: 0 2px 6px 0 #e0e2e3;
	color: #777;
	font-size: 15px;
	outline: none;
	text-indent: 20px;
}

.userSearch button {
  position: absolute;
  top: 0;
  right: 0;
  width: 110px;
  height: 44px;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
  border-radius: 50px;
  font-weight: bold;
  background: #34ff86;
	background: linear-gradient(45deg, #3fec86 0%, #36dede 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$green', endColorstr='$light-blue', GradientType=1);
}

.email {
	text-align: center;
	font-weight: 600;
	color: #5fb98d;
	text-decoration: underline;
}

.ips {
	text-align: center;
	font-weight: bold;
	font-size: 13px;
}

.separatorHorizontal {
	border-bottom: 1px solid #d2d2d2;
	width: 500px;
	margin: 15px auto;
}

.promoCodes {
	text-align: center;
}

.promoCodes .codes {
	display: flex;
	max-width: 860px;
	margin: 0 auto;
	flex-wrap: wrap;
}

.promoCodes .codes > div { 
	margin: 10px;
}

.promoCodes .codes .addPromo {
	border: 1px solid gray;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	border-radius: 5px;
	width: 250px;
	height: 110px;
	margin: 0 10px;
	cursor: pointer;
	align-self: center;
	transition: transform .1s;
 }

 .promoCodes .codes .addPromo:hover {
	 transform: scale(1.02);
 }

 .promoCodes .codes .addPromo:active {
	transform: scale(1.0);
 }

.data {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	width: 640px;
	margin: 0 auto 30px;
}

.data .section.userActive {
	cursor: pointer;
}

.data h4 {
	margin-bottom: 0;
	letter-spacing: 1px;
}

.data p {
	margin-top: 0;
	color: #ff7575;
}

.data p.active {
	color: #50da50;
}

.connects {
	display: flex;
	justify-content: space-evenly;
	max-width: 1200px;
	margin: 0 auto;
}

.connects > div {
	min-height: 460px;
	min-width: 370px;
	display: flex;
	justify-content: center;
}

.promoCodes > p,
.connects > div > p {
	font-weight: bold;
}

.connects .videosContainer,
.connects .ordersContainer {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 500px;
}

.connects .videosContainer .videos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	width: 510px;
}

.connects .videosContainer .videos > a {
	display: flex;
	justify-content: center;
	width: 157px;
	margin: 5px;
}

.connects .ordersContainer .orders {
	width: 365px;
	max-height: 550px;
}

.connects .ordersContainer .orders > a {
	display: flex;
	justify-content: space-between;
	width: 400px;
	height: 40px;
} 

.connects .videosContainer .videos > div > p:nth-child(2),
.connects .ordersContainer .orders > div > p:nth-child(2) {
	font-weight: 100;
}

.connects .videosContainer .videos img {
	width: 150px;
	border-radius: 5px;
}

.connects .separatorVertical {
	height: 380px;
	border-right: 1px solid rgb(210, 210, 210);
	height: 600px;
}

.connects .addToDb {
	position: absolute;
	bottom: 30px;
	margin: 20px 0;
	width: 240px;
}

.connects .addToDb input {
	width: 100%;
	height: 38px;
	border-radius: 30px;
	border: 2px solid #39e4b9;
	box-shadow: 0 2px 6px 0 #e0e2e3;
	color: #777;
	font-size: 15px;
	outline: none;
	text-indent: 20px;
}