.navbarContainer {
	height: 18px;
	display: flex;
	justify-content: start;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 3;
	border-bottom: 1px solid rgb(224, 226, 227);
	padding: 0 20px;
	background: rgba(255, 255, 255, 1);
	transition: all .1s ease-in-out;
}

.searchOpen {
	height: 60px;
}

.navbarContainer .navBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: relative;
}

.navbarContainer .navBar img {
	width: 40px;
}

.navbarContainer .navBar i {
	color: white;
	font-size: 8px;
	outline: none;
	background: #57ffed;
	border-radius: 50px;
	width: 14px;
	height: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbarContainer .navBar i.fas.fa-times-circle {
	font-size: 25px;
}

@media screen and (min-width: 970px) {
	.navbarContainer {
		background: rgba(255, 255, 255, .9);
	}
}

@media screen and (min-width: 480px) {
	.navbarContainer {
		height: 50px;
	}

	.navbarContainer .navBar {
		max-width: 1140px;
    margin: 0 auto;
	}

	.navbarContainer .navBar img {
		width: 100px;
	}
}