.navbar {
	height: 50px;
	display: flex;
	justify-content: start;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 1;
	border-bottom: 1px solid rgb(224, 226, 227);
	padding: 0 15px;
	background: rgba(255, 255, 255, .9);

}

.navbar img {
	width: 100px;
}