.modalContainer {
	width: 100vw;
	height: 150vh;
	position: fixed;
	z-index: 3;
	background: rgba(0,0,0,.4);
	margin-top: -21px;
}

.modal {
	width: 385px;
    height: 239px;
    background: white;
    position: fixed;
    border-radius: 10px;
    border: 1px solid;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 15px;
}

.modal i {
	position: absolute;
	right: 8px;
	top: 7px;
	color: darkgrey;
	font-size: 11px;
	cursor: pointer;
}

.modal h3 {
	color: #5f5e5e;
	font-size: 15px;
	margin: 10px 17px;
	border-bottom: 1px solid lightgray;
	padding-bottom: 10px;
}

.modal p {
	font-size: 13px;
	color: #6e6e6e;
  padding: 0 20px;
}

.modal img {
	margin-left: 35px;
}
