.quoteBorder {
  position: relative;
  background: linear-gradient(45deg, #3fec86 0%, #36dede 100%);
  padding: 10px;
}

.quote {
  width: 130px;
  height: 241px;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 10px;
  text-align: center;
  flex-direction: column;
  position: relative;
  background: white;
}

.quote p.title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 10px;
  color: #38e2c7;
}

.quote p.main {
  align-self: center;
  font-weight: 600;
  font-size: 96%;
  letter-spacing: 5px;
  background: linear-gradient(45deg, #3fec86 0%, #36dede 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.quote i {
  color: #38e2c7;
  margin-top: -10px;
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
}


@media screen and (min-width: 565px) {
  .quote {
    height: 210px;
    width: 230px;
  }

  .quote p.main {
    font-size: 20px;
  }

  .quote i {
    margin: 15px 0 -15px;
    bottom: 25px;
  }
}