.labelContainer {
  position: absolute;
  top: 97%;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 350px;
}

.labelContainer .label {
  font-weight: bold;
  width: 70px;
	border: 1px solid #e0e0e0;
	text-align: center;
  padding: 9px;
	border-radius: 10px;
	line-height: 1.3;
	background: white;
	color: gray;
	font-size: 10px;
  transition: all .1s ease-in-out;
  margin: 0 10px;
	-webkit-box-shadow: 0px 8px 14px -15px rgba(99,99,99,1);
  -moz-box-shadow: 0px 8px 14px -15px rgba(99,99,99,1);
  box-shadow: 0px 8px 14px -15px rgba(99,99,99,1);
}

.labelContainer .label p {
	margin-bottom: 0;
  margin-top: 3px;
}

.labelContainer .selected {
  background: linear-gradient(45deg, #34ff86 0%, #4EE5E5 100%) !important;
  color: white;
}

@media screen and (min-width: 480px) {
	.labelContainer {
    top: 98.5%;
	}
}