.terms {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.terms h3, .terms h5 {
  text-align: center;
  font-weight: bold;
}

.terms p {
  max-width: 500px;
  margin: 0 auto;
  text-align: justify;
  line-height: 22px;
  width: 90%;
}