.suggestionContainer {
	display: flex;
	justify-content: center;
	width: 100vw;
}

.suggestion {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.suggestion .videosList {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}

.suggestion a {
	margin-left: 13px;
}

.suggestion .title {
	color: #4f4f4f;
	letter-spacing: 2px;
	font-size: 12px;
	margin-left: 15px;
	text-align: left;
	align-self: flex-start;
}

.suggestion .video {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.suggestedImageContainer {
	overflow: hidden;
	border-radius: 10px;
	height: 28vw;
	transition: all .1s ease-in-out;
}


.suggestion .video .suggestedImageContainer img {
	height: 28vw;
	border-radius: 3px;
	opacity: .9;
	cursor: pointer;
}

.suggestion .video .suggestedImageContainer:hover {
	opacity: .9;
}

.suggestion .video .suggestedImageContainer:active {
  opacity: 1;
	transform: scale(0.99);
}

.suggestion .video p {
	font-size: 12px;
	color: #6e6e6e;
	margin-left: 9px;
	font-weight: 100;
	max-width: 155px;
}

@media screen and (min-width: 500px) {
	.suggestion .video .suggestedImageContainer img,
	.suggestion .video .suggestedImageContainer {
		height: 95px;
	}
}

@media screen and (min-width: 645px) {
	.suggestionContainer {
		background: #f6f8f8;
	}
}

@media screen and (min-width: 730px) and (max-width: 969px) {
	.suggestionContainer {
		margin-top: 40px;
	}
}

@media screen and (min-width: 970px) {
	.suggestionContainer {
		margin-top: 70px;
	}

	.suggestion {
		width: 1000px;
	}

	.suggestion .videosList {
		justify-content: flex-start;
	}
}

