.suggestion {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.suggestion .videosList {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}

.suggestion a {
	text-decoration: none;
	margin-left: 13px;
}

.suggestion .title {
	color: #4f4f4f;
	letter-spacing: 2px;
	font-size: 12px;
	margin-left: 15px;
	text-align: left;
	align-self: flex-start;
}

.suggestion .video {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.suggestion .video .image {
	height: 95px;
	border-radius: 3px;
	opacity: .9;
	cursor: pointer;
	transition: all .1s ease-in-out;
}

.suggestedImageContainer {
	overflow: hidden;
	border-radius: 10px;
	min-width: 170px;
}

.suggestion .video img:hover {
	opacity: 1;
	transform: scale(1.02);
}

.suggestion .video img:active {
  opacity: 1;
	transform: scale(0.95);
}

.suggestion .video p {
	font-size: 12px;
	color: #6e6e6e;
	margin-left: 9px;
	font-weight: 100;
	max-width: 155px;
}

@media screen and (min-width: 730px) and (max-width: 969px) {
	.suggestion {
		margin-top: 40px;
	}
}

@media screen and (min-width: 970px) {
	.suggestion {
		width: 1000px;
		margin-top: 50px;
	}

	.suggestion .videosList {
		justify-content: flex-start;
	}
}

