.search {
	width: 30%;
  min-width: 220px;
}

.search input {
	width: 100%;
	height: 40px;
	border: 1px solid #bdbdbd;
	border-radius: 20px;
	padding: 0 20px; 
	outline: none;
	font-size: 16px;
}

.search input:focus {
	border-color: #57ffed;
}

.search input::placeholder {
	color: lightgray;
}

.search .dropdownBackground {
	width: 200vw;
	height: 150vh;
	background: #0000008a;
	position: absolute;
	z-index: -1;
	top: 50px;
	left: -150px;
}

.search .dropdown {
	position: absolute;
	background: rgba(71, 71, 71, 0.92);
	width: 100%;
	max-width: 540px;
	max-height: 300px;
	top: 50px;
	left: 0;
	right: 0;
	margin: auto;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

.search .dropdown .item {
	background: white;
	height: 72px;
	border-bottom: 1px solid lightgray;
	color: gray;
}

.search .dropdown .item:hover {
	background: #f5f5f5;
}

.search .dropdown .item a {
	display: flex;
	align-items: center;
	height: 100%;
}

.search .dropdown .item .itemContainer { 
	width: 100px;
	height: 56px;
	border-radius: 10px;
	margin: 0 11px;
}

.search .dropdown .item .itemContainer img { 
	width: 100%;
}

.search .dropdown .item a p {
	font-size: 12px;
}