.bodyPage {
	max-width: 1400px;
	margin: 0 auto;
	padding-top: 70px;
}

.appFrame {
	position: relative;  
	overflow: hidden;
}

.notification {
	overflow: hidden;
	text-align: center;
	color: #6e6e6e;
}

.notificationError {
	color: white;
	background: #f76565;
}

.notificationSuccess {
	color: white;
	background: #76ed79;
}

@media screen and (min-width: 481px) {
	.notification {
		border-radius: 15px;
	}
}
