.bodyPage {
	max-width: 1400px;
	margin: 0 auto;
	padding-top: 70px;
}

.appFrame {
	position: relative;  
	overflow: hidden;
}

.Toastify__toast {
	overflow: hidden;
	text-align: center;
	color: #6e6e6e;
	padding: 10px;
	color: white;
}

.Toastify__toast--error {
	background: #f76565;
}

.Toastify__toast--success {
	color: white !important;
	background: #76ed79 !important;
}

.Toastify__toast--default {
	color: darkgray;
}

@media screen and (min-width: 481px) {
	.Toastify__toast {
		border-radius: 15px;
	}
}
