.cardsContainer {
	background-color: transparent;
	perspective: 1000px;
	width: 100%;
	position: fixed;
	top: 50px;
	z-index: 2;
	height: 57vw;
}

.videoContainer {
	width: 100%;
	height: 100%;
	position: relative;
  transition: transform 0.5s;
	transform-style: preserve-3d;
	z-index: 1;
}

.showPayment .videoContainer {	
  transform: rotateY(180deg);
}

.videoPlayer {
	height: 100%;
	position: relative;
	overflow: hidden;
	position: relative;
	background: white;
	backface-visibility: hidden;
	z-index: 2;
	background: black;
	display: flex;
	justify-content: center;
}

.videoPlayer iframe {
	width: 100vw;
	height: 57vw;
}

.payments {
	transform: rotateY(180deg);
	backface-visibility: hidden;
	z-index: 1;
	width: 100%;
	height: 410px;
	position: absolute;
	top: 0;
	left: 0;
	background: #f1f1f1;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	background: url("../../../../assets/images/universe-bg.jpg") no-repeat; 
	background-size: 770px;
	transition: all .3s ease-in-out;
	background-size: cover;
	background-position: center;
}

.payments .emailField {
	margin-bottom: -20px;
}

.payments .emailField p {
	color: white;
	font-size: 10px;
	margin: 0 0 1px 3px;
}

.payments .emailField input {
	border-radius: 5px;
	border: 1px solid gray;
	padding: 5px 10px;
	width: 208px;
	height: 33px;
	outline: none;
}

.payments .emailField input::placeholder {
	color: lightgray;
}

.payments .emailField input:focus {
	border: 2px solid #f7c556;
}

.payments .emailField button {
	background: white;
	padding: 9px;
	margin-left: 10px;
	border-radius: 3px;
	color: #8a5b8a;
}

.videoBackButton {
	color: #8a5b8a;
	border: 1px solid white;
	border-radius: 8px;
	padding: 11px 20px;
	cursor: pointer;
	background: white;
	font-weight: 500;
}

.videoPrice {
	color: white;
	border-bottom: 1px solid white;
	padding: 7px;
}

.payPalWrapper {
	width: 251px;
	background: rgba(255, 255, 255, .5);
  padding: 10px;
  border-radius: 5px;
}

.videoLabel {
	position: absolute;
	top: -2px;
	right: 0px;
	z-index: 1;
	width: 360px;
	opacity: .9;
}

.videoPlaceholder {
	position: absolute;
	height: 100%;
}

.playButton {
	z-index: 1;
	width: 100%;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	opacity: .8;
}

.playButton img {
	width: 80px;
}

.showLabel {
	width: 76px;
	border: 1px solid #e0e0e0;
	text-align: center;
	padding: 18px 9px 9px 9px;
	border-radius: 15px;
	line-height: 1.3;
	background: white;
	color: gray;
	font-size: 11px;
	transition: all .2s ease-in-out;
	position: absolute;
	top: 91%;
	left: 30px;
	-webkit-box-shadow: 0px 8px 14px -15px rgba(99,99,99,1);
  -moz-box-shadow: 0px 8px 14px -15px rgba(99,99,99,1);
  box-shadow: 0px 8px 14px -15px rgba(99,99,99,1);
}

.showLabel p {
	margin-bottom: 0;
	margin-top: 3px;
}

.arrowDown::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
	content: "\f144";
	font-size: 20px;
	color: lightgray;
}

.alreadyPurchased {
	display: flex;
	align-items: center;
	margin-bottom: 2px;
}

.alreadyPurchased i {
	color: white;
	margin: 0 6px;
	font-size: 11px;
	cursor: pointer;
}

@media screen and (min-width: 480px) {
	.showLabel {
		top: 96%;
	}
}

@media screen and (min-width: 970px) {
	.videoPlayer {
		border-radius: 10px;
	}

	.payments {
		border-radius: 10px;
	}

	.cardsContainer {
		width: 700px;
		position: inherit;
	}

	.videoContainer {
		-webkit-box-shadow: 0px 16px 6px -14px rgba(71,71,71,1);
		-moz-box-shadow: 0px 16px 6px -14px rgba(71,71,71,1);
		box-shadow: 0px 16px 6px -14px rgba(71,71,71,1);
	}
}

@media screen and (min-width: 730px) {
	.videoPlayer iframe {
		width: 700px;
		height: 394px;
	}

	.cardsContainer {
		height: 394px;
	}
}

@media screen and (min-width: 590px) {
	.payments {
		height: 100%;
	}
}

@media screen and (min-width: 680px) {
	.videoLabel {
		width: 660px;
	}
}