.loaderContainer {
	width: 100vw;
	height: 100vh;
	background: #000000c7;
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
  font-weight: bold;
}

.loaderContainer .content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.loaderContainer .content p:first-of-type {
	font-size: 25px;
	margin: 0;
}

.loaderContainer .content img {
	width: 60px;
}

.cardsContainer {
	background: transparent;
	perspective: 1000px;
	width: 100%;
	position: fixed;
	top: 50px;
	z-index: 2;
	height: 57vw;
	transition: all .1s ease-in-out;
}

.videoContainer {
	width: 100%;
	height: 100%;
	position: relative;
  transition: transform 0.5s;
	transform-style: preserve-3d;
	z-index: 1;
}

.showPayment .videoContainer {	
  transform: rotateY(180deg);
}

.videoBackButton {
	color: white;
	cursor: pointer;
	font-weight: 500;
}

.videoPlayer {
	display: flex;
	justify-content: center;
	height: 100%;
	position: relative;
	overflow: hidden;
	position: relative;
	background: white;
	backface-visibility: hidden;
	z-index: 2;
	background: black;
	transform: rotateX(0deg);
	display: -webkit-box;
}

.videoPlayer iframe {
	width: 100vw;
	height: 57vw;
}

.payments {
	transform: rotateY(180deg);
	backface-visibility: hidden;
	z-index: 1;
	width: 100%;
	height: 410px;
	position: absolute;
	top: 0;
	left: 0;
	background: #f1f1f1;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	transition: all .3s ease-in-out;
}

.payments .closeButton {
	color: white;
	cursor: pointer;
	font-weight: 500;
	background: transparent; 
}

.payments .title {
	color: white;
	font-weight: bold;
	font-size: 14px;
}

.payPalWrapper {
	width: 251px;
	background: rgba(255, 255, 255, .5);
  padding: 10px;
	border-radius: 5px;
	position: relative;
}

.payments .priceDiscounted,
.payments .price {
	transform: rotate(-18deg);
	color: #8a5b8a;
	font-family: sans-serif;
	margin: -20px 245px -34px 0;
	background: white;
	padding: 5px 15px;
	border-radius: 50px;
	font-size: 15px;
	z-index: 101;
	position: absolute;
	left: -30px;
	top: 3px;
}

.payments .hasDiscount {
	text-decoration: line-through;
	color: #ff2c2c;
}

.payments .priceDiscounted {
	top: -18px;
	background: none;
	color: lime;
	font-weight: bold;
	left: -39px;
}

.videoLabel {
	position: absolute;
	top: -2px;
	right: 0px;
	z-index: 1;
	width: 490px;
	opacity: .95;
}

.videoPlaceholder {
	height: 101%;
	margin: 0 auto;
	width: 700px;
}

.videoPlaceholder img {
	height: 100%;
}

.playButton {
	z-index: 1;
	width: 100%;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	opacity: .9;
}

.playButton img {
	width: 80px;
}

.arrowDown::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
	content: "\f144";
	font-size: 20px;
	color: lightgray;
}

.payments .paymentSeparator {
	border-bottom: 1px solid white;
	width: 225px;
}

@media screen and (min-width: 480px) {
	.cardsContainer {
		top: 60px;
	}
}

@media screen and (min-width: 970px) {
	.videoPlaceholder {
		margin: 0;
	}

	.videoPlayer {
		border-radius: 10px;
	}

	.payments {
		border-radius: 10px;
	}

	.cardsContainer {
		width: 700px;
		position: inherit;
	}

	.videoContainer {
		-webkit-box-shadow: 0px 16px 6px -14px rgba(71,71,71,1);
		-moz-box-shadow: 0px 16px 6px -14px rgba(71,71,71,1);
		box-shadow: 0px 16px 6px -14px rgba(71,71,71,1);
	}
}

@media screen and (min-width: 970px) {
	.videoPlayer iframe {
		width: 700px;
	}

	.cardsContainer {
		height: 394px;
	}
}

@media screen and (min-width: 730px) {
	.videoPlayer iframe {
		height: 394px;
	}

	.cardsContainer {
		height: 394px;
	}
}

@media screen and (min-width: 630px) {
	.videoLabel {
		width: 680px;
	}
}

@media screen and (min-width: 590px) {
	.payments {
		height: 100%;
	}
}

@media screen and (min-width: 460px) {
	.videoLabel {
		width: 750px;
	}
}