@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap';
@import 'https://fonts.googleapis.com/css?family=Knewave&display=swap';


@font-face {
  font-family: 'tagliner';
  src: url('https://s3.us-west-1.wasabisys.com/fonts/tagliner.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'ProximaNova-Regular', Helvetica, Arial, sans-serif; */
  background: rgba(191, 191, 191, 0.05);
  color: #4f4f4f;
  background: #3D454D; 
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  background: white;
}

.shadow {
  -webkit-box-shadow: 0px 16px 6px -14px rgba(71,71,71,1);
  -moz-box-shadow: 0px 16px 6px -14px rgba(71,71,71,1);
  box-shadow: 0px 16px 6px -14px rgba(71,71,71,1);
  
}

button {
  background: none;
	border: none;
  outline: none; 
  cursor: pointer;
  transition: all .1s ease-in-out;
}

button:hover {
  opacity: .9;
}

button:active {
  opacity: 1;
	transform: scale(0.99);
}

a {
  text-decoration: none;
	color: #535353;
}

.ReactModalPortal > div {
  z-index: 2;
  background: #00000082 !important;
}

.animationLoader:after {
	content:'';
  top:0;
	transform:translateX(100%);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index:1;
	animation: slide 1s infinite .1s;
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 );
}

@keyframes slide {
	0% {transform:translateX(-100%);}
	100% {transform:translateX(100%);}
}

.shake {
  animation-name: shake;
  animation-iteration-count: 2;
  animation-delay: 1s;
  animation-duration: 10s;
}

@keyframes shake {
  1%, 9% { transform: translate3d(-1px, 0, 0);}
  2%, 8% { transform: translate3d(2px, 0, 0);}
  3%, 5%, 7% { transform: translate3d(-4px, 0, 0);}
  4%, 6% {transform: translate3d(4px, 0, 0);}
}