@import 'https://fonts.googleapis.com/css?family=Open+Sans:300, 400';
@import 'https://fonts.googleapis.com/css?family=Raleway:300,400';

@font-face {
  font-family: 'Raleway', sans-serif;
  src: url('./assets/fonts/tagliner.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background: rgba(191, 191, 191, 0.05);
  color: #4f4f4f;
  background: #3D454D; 
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  background: white;
}

.shadow {
  -webkit-box-shadow: 0px 16px 6px -14px rgba(71,71,71,1);
  -moz-box-shadow: 0px 16px 6px -14px rgba(71,71,71,1);
  box-shadow: 0px 16px 6px -14px rgba(71,71,71,1);
  
}

button {
  background: none;
	border: none;
  outline: none; 
  cursor: pointer;
  transition: all .1s ease-in-out;
}

button:hover {
  opacity: 1;
	transform: scale(1.02);
}

button:active {
  opacity: 1;
	transform: scale(0.9);
}