@import 'https://fonts.googleapis.com/css?family=Open+Sans:300, 400';
@import 'https://fonts.googleapis.com/css?family=Raleway';

@font-face {
  font-family: 'Raleway', sans-serif;
  src: url('./assets/fonts/tagliner.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background: rgba(191, 191, 191, 0.05);
  color: #4f4f4f;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.post {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  width: 350px;
  height: 350px;
  flex: 0 0 350px;
}

.post .description {
  flex: 1;
  padding-left: 25px;
  font-size: 25px;
}

.detail {
  width: 600px;
  height: 600px;
  flex: 0 0 600px;
}

.detail .description {
  flex: 1;
  padding-left: 40px;
  font-size: 38px;
}

.title {
  font-size: 42px;
}

.content {
  font-size: 18px;
}

.new-post {
  background-color: rgba(0, 0, 0, 0.04);
}

.close {
  opacity: 0.5;
  margin-top: 60px;
  margin-right: 60px;
}

.close img {
  width: 20px;
  height: 20px;
}

.shadow {
  -webkit-box-shadow: 0px 16px 6px -14px rgba(71,71,71,1);
  -moz-box-shadow: 0px 16px 6px -14px rgba(71,71,71,1);
  box-shadow: 0px 16px 6px -14px rgba(71,71,71,1);
  
}

button {
  background: none;
	border: none;
  outline: none; 
  cursor: pointer;
  transition: all .1s ease-in-out;
}

button:hover {
  opacity: 1;
	transform: scale(1.02);
}

button:active {
  opacity: 1;
	transform: scale(0.9);
}