.studioMenu {
	display: flex;
	-webkit-font-smoothing: antialiased;
	border-radius: 4px;
	border: 1px solid #e0e0e0;
	max-width: 930px;
	margin: 30px auto;
	padding: 20px;
	justify-content: space-between;
}

.studioMenu .left {
	display: flex;
	align-items: center;
}

.studioMenu > .left > div {
	margin: 0 10px;
	cursor: pointer;
	font-weight: 600;
	letter-spacing: 0.4px;
	font-size: 13px;
	color: #656565;
	padding-bottom: 5px;
}

.studioMenu > div.left > div.active {
	border-bottom: 2px solid #63a4fb;
	color: #63a4fb;
} 

.bodyPage > div.studioMenu > div.rightMenu > div {
	min-width: 10em;
}

.rightMenu {
	position: relative;
}

.rightMenu .dropdown {
	letter-spacing: 0.4px;
	font-size: 13px;
	color: #656565;
}

.rightMenu > div > .visible.menu.transition > .item:nth-child(1) {
	border-color: #96c8da;
}

.rightMenu .datePicker {
	position: absolute;
	top: -21px;
	right: -22px;
	z-index: 1;
	border: 1px solid #e0e0e0;
	padding-bottom: 10px;
	background: white;
}

.rightMenu .datePicker .buttons {
	display: flex;
	justify-content: flex-end;
	padding: 0 10px;
}

.rightMenu .datePicker .buttons button {
	color: #3d91ff;
  font-weight: 600;
}

.videosAndPromos {
	/* display: flex;
	justify-content: space-between;
	width: 930px;
	margin: 0 auto; */
}