.seo {
	position: absolute;
	color: white;
}

.page {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	max-width: 1400px;
	align-items: center;
	margin: 0 auto;
}

.page .videoWrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-width: 1250px;
	align-items: center;
	height: 390px;
}

.page .videoWrapper .separator {
	height: 380px;
	border-right: 1px solid rgb(210, 210, 210);
	margin: 0 35px 0 50px;
	display: none;
}

.bottomPage {
	width: 94vw;
    max-width: 1070px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #d2d2d2;
    padding: 20px 0;
}

@media screen and (min-width: 1060px) {
	.page .videoWrapper .separator {
		display: inherit;
	}
}

@media screen and (min-width: 970px) {
	.page .videoWrapper {
		flex-direction: row;
	}
}

@media screen and (max-width: 730px) {
	.page {
		display: inherit;
	}

	.page .videoWrapper {
		height: 63vw;
	}
}

@media screen and (max-width: 479px) {
	.page .videoWrapper {
		height: 60vw;
	}
}