.page {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	max-width: 1400px;
	align-items: center;
	margin: 0 auto;
}

.videoWrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-width: 1250px;
	align-items: center;
	height: 390px;
}

.separator {
	height: 380px;
	border-right: 1px solid rgb(210, 210, 210);
	margin: 0 35px 0 50px;
	display: none;
}

.bottomPage {
	width: 90vw;
	max-width: 960px;
	margin: 0 auto;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #d2d2d2;
	padding: 20px 0;
}

@media screen and (min-width: 1060px) {
	.separator {
		display: inherit;
	}
}

@media screen and (min-width: 970px) {
	.videoWrapper {
		flex-direction: row;
	}
}

@media screen and (max-width: 730px) {
	.page {
		display: inherit;
	}

	.videoWrapper {
		height: 63vw;
	}
}