.videoItem {
  height: 140px;
  width: 150px;
  box-shadow: 0px 16px 6px -15px rgba(71,71,71,1);
}

.videoItem:hover {
  opacity: .9;
}


.videoItem .videoCover {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
}

.videoItem .videoCover img {
  width: 100%;
  border-radius: 10px;
}

@media screen and (min-width: 565px) {
  .videoItem {
    height: 234px;
    width: 250px;
  }
}